@charset "utf-8";
/* CSS Document */

.w{
	width:1200px;
}
body{
	background-color:#fff;
}
/*=============header=============*/
header{
	height:37px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
}
header .w{
	height:37px;
}
header .w .l{
	height:37px;
	color:#8c8c8c;
	line-height: 37px;
	font-size: 13px;
}
header .w .login{
	margin-left:5px;
	position:relative;
}
header .w .login a{
	width:54px;
	padding-left:10px;
	padding-right:8px;
	font-size: 13px;
	color:#8c8c8c;
}
header .w .login a:hover{
	text-decoration:underline;
	color:#c41f3a;
}
header .w .login a:nth-child(2){
	border:0;
}
header .w .login p{
	display: block;
	position: absolute;
	width:174px;
	height:34px;
	background-image: url(../images/index/add_r_tips.png);
	padding-left:15px;
	padding-right:25px;
	color:#fff;
	font-family: "ËÎÌå";
	font-size:12px;
	position:relative;
}
header .w .login p>span{
	display: block;
	width:12px;
	height:12px;
	position:absolute;
	top:1px;
	right:5px;
	font-weight: bold;
	color:#eee;
	cursor:pointer;
}
header .w .r{
	height:37px;
	line-height:37px;
	position:relative;
}
header .w .r ul{
	height:37px;
}
header .w .r ul li{
	height:37px;
}
header .w .r ul .tel span{
	display:block;
	margin-top:10px;
	height:17px;
	padding:0 10px;
	border-right:1px solid #dfdfdf;
	line-height:17px;
}
header .w .r ul .tel span::before{
	content:"";
	display:inline-block;
	width:14px;
	height:13px;
	background:url(../images/index/icon_list.png) no-repeat 0px -38px;
	padding-left:10px;
}
header .w .r ul li>a{
	padding:0 10px;
	border-right:1px solid #dfdfdf;
	font-family:"宋体"
}
header .w .r ul li>a:hover{
	text-decoration:underline;
}
header .w .r ul li:last-child a{
	border:0;
}
header .w .r ul .business_li img{
	display: inline-block;
}
header .w .r ul .business_li{
	position:relative;
	z-index:10px;
}
header .w .r .business_box{
	width:155px;
	height:105px;
	border:1px solid #dfdfdf;
	background:#fff;
	padding-left:4px;
	position:absolute;
	top:0px;
	left:5px;
}
header .w .r .business_box a{
	display:block;
	height:35px;
	line-height:35px;
	font-family:"宋体"
}
header .w .r .business_box a:hover{
	text-decoration:underline;
}
header .w .r .business_box img{
	display: inline-block;
	line-height:50px
}
header .w .r .business_box span{
	display:inline-block;
	background:url(../images/index/icon_list.png) no-repeat -39px -764px;
	color:#fff;
	height:17px;
	line-height:15px;
	width:83px;
	font-family: "宋体";
	padding:0 3px;
}

header .w .r .down_load{
	position:relative;
}
header .w .r .icon_top{
	position:absolute;
}
header .w .r .icon_top .icon_border{
	border:1px solid #f6f6f6;
	padding:5px;
	margin-top:5px;
	position:absolute;
	top:0;
	left:0px;
	z-index:10;
	box-shadow: 0 0 1px #f6f6f6;
	background:#fff;
}
header .w .r .icon_top span{
	position:absolute;
	width:12px;
	height:8px;
	background:url(../images/index/icon_list.png) no-repeat -234px -592px;
	top:-8px;
	left:62px;
}
header .w .r .icon_top p{
	height:12px;
	line-height:12px;
	text-align:center;
	color:#3b3b3b;
}
header .w .r .icon_top img{
	border:0;
}
header .w .last{
	position:relative;
}
header .w .r .serve_box{
	width:76px;
	height:100px;
	border:1px solid #dfdfdf;
	background:#fff;
	padding-left:5px;
	position:absolute;
	top:0px;
	left:4px;
	z-index:10;
	font-family:"宋体"
}
header .w .r .serve_box a:hover{
	text-decoration:underline;
}
/*=============search=============*/
#search{
	height:125px;
	background:#fff;
	border-bottom:2px solid #eee;
}
#search .w{
	height:125px;
}
#search .w h1{
	margin-top:30px;
	margin-right:7px;
}
#search .w h1 img{
	width:59px;
	height:55px;
}
#search .w .r{
	width:415px;
	height:35px;
	background:url(../images/cart/order_icon_list.png) no-repeat 0px 0px;
	margin-top:50px;
}

/*=============cart_goods=============*/
#cart_goods{
	height:500px;
	margin-top:38px;
}
#cart_goods .w{
	height:213px;
}
#cart_goods .header{
	height:35px;
	line-height:35px;
	border:1px solid #dadada;
	background-color:#efefef;
}
#cart_goods .header li:first-child{
	padding-left:12px;
	padding-right:105px;
}
#cart_goods .header li:nth-child(2){
	padding-right:438px;
}
#cart_goods .header li:nth-child(3){
	padding-right:156px;
	color:#666;
}
#cart_goods .header li:nth-child(4){
	padding-right:148px;
	color:#666;
}
#cart_goods .header li:nth-child(5){
	padding-right:88px;
	color:#666;
}
#cart_goods .header li:nth-child(6){
	color:#666;
}
#cart_goods .content{
	height:45px;
	border-bottom:2px solid #b2b2b2;
	line-height:55px;
	padding-left:12px;
}
#cart_goods .content input{
	margin-top:16px;
}
#cart_goods .content .p1{
	display:inline-block;
	line-height:16px;
	width:30px;
	height:16px;
	color:#fff;
	background-color:#e60012;
	border-radius:5px;
	text-align:center;
	margin:0 10px;
}
#cart_goods .content a{
	font-size:14px;
	color:#000;
	font-weight:bold;
}
#cart_goods .content .r{
	font-size:14px;
	color:#333;
}
#cart_goods .goodslist{
	height:80px;
	border:1px solid #dfdfdf;
	border-top:0;
	padding:25px 13px;
}
.goodslist li:first-child input{
	margin-top:35px;
	margin-right:20px;
}
.goodslist li:nth-child(2){
	margin-right:12px;
}
.goodslist li:nth-child(2) img{
	width:80px;
	height:80px;
}
.goodslist li:nth-child(3){
	margin-right:80px;
	width:410px;
	line-height:20px;
	font-size:13px;
}
.goodslist li:nth-child(4){
	color:#666;
	margin-right:120px;
}
.goodslist li:nth-child(5){
	color:#666;
	margin-right:105px;
}
.goodslist li:nth-child(5) input{
	width:48px;
	height:23px;
	border:1px solid #ccc;
	text-align:center;
	line-height:23px;
}
.goodslist li:nth-child(5) a{
	width:22px;
	height:23px;
	border:1px solid #e5e5e5;
	text-align:center;
}
.goodslist li:nth-child(6){
	color:#c41f3a;
	font-weight:bold;
	font-size:12px;
	margin-right:82px;
}
.goodslist li:nth-child(6) span{
	font-size:16px;
}
.goodslist li:nth-child(7) input{
	cursor:pointer;
}

#cart_goods .account{
	height:60px;
	border:1px solid #e5e5e5;
	padding-left:14px;
	margin-top:20px;
	line-height:60px;
}
.account ul{
	height:60px;
}
.account ul li{
	height:60px;
	font-size:14px;
	margin-right:15px;
}
#goodsNum{
	font-size:18px;
	color:#c41f3a;
	font-weight:bold;
}
.account ul li:nth-child(3){
	font-size:18px;
	color:#c41f3a;
	font-weight:bold;
}
.account ul li:last-child{
	margin-right:0;
}
.account ul li:last-child a{
	display:block;
	width:110px;
	height:60px;
	background-color:#c41f3a;
	text-align:center;
	color:#fff;
	font-size:20px;
}
.youlike{
	height:166px;
	line-height:26px;
	margin-top:39px;
}
.youlike p{
	line-height:26px;
	height:26px;
	border-bottom:2px solid #aaa;
}
.youlike p span{
	display:inline-block;
	line-height:26px;
	height:26px;
	border-bottom:2px solid #c41f3a;
	width:120px;
	text-align:center;
}
.youlike .showlike{
	height:118px;
	border:1px solid #e5e5e5;
	margin-top:18px;
	line-height:118px;
	text-align:center;
}
/*=============footer_icon=============*/
#footer_icon{
	height:126px;
	margin-top:25px;
	background:#fff;
}
#footer_icon .w{
	height:126px;
}
#footer_icon .w img{
	width:100%;
	height:125px;
	border-bottom:1px solid #d7d7d7;
}

/*=============footer_nav=============*/
#footer_nav{
	height:277px;
	background:#fff;
}
#footer_nav .w{
	height:208px;
	padding-top:30px;
	padding-left:40px;
	width:960px;
}
#footer_nav .w ul{
	width:144px;
}
#footer_nav .w ul li{
	line-height:23px;
}
#footer_nav .w ul .list_h3{
	height:40px;
	line-height:40px;
	font-size:14px;
}
#footer_nav .w .go_app{
	margin-right:23px;
}
#footer_nav .w .p1{
	height:40px;
	line-height:40px;
	color:#000;
	font-weight:bold;
	font-size:14px;
}
#footer_nav .w .p2{
	font-size:14px;
}
#footer_nav .bottom_nav{
	height:35px;
	border-bottom:4px solid #a90202;
	background:#fff;
}
#footer_nav .bottom_nav ul{
	height:35px;
	text-align:center;
	line-height:35px;
}
#footer_nav .bottom_nav li{
	display:inline-block;
	height:35px;
}
#footer_nav .bottom_nav li a{
	padding:0 20px;
	border-right:1px solid #a9a9a9;
	font-family:"宋体";
}
#footer_nav .bottom_nav li:last-child a{
	border-right:0;
}


/*=============bottom底部=============*/
footer{
	height:173px;
	padding-top:9px;
	text-align:center;
	background:#fbfbfb;
}
footer p{
	height:25px;
	line-height:25px;
}
footer a{
	display:inline-block;
	width:275px;
	margin-right:80px;
	margin-top:35px;
}



