@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body{
	background-color:#fff;
}
.w{
	width:1190px;
}
/*=============header=============*/
header{
	height:37px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
}
header .w{
	height:37px;
}
header .w .l{
	height:37px;
	color:#8c8c8c;
	line-height: 37px;
	font-size: 13px;
}
header .w .login{
	margin-left:20px;
	position:relative;
}
header .w .login a{
	width:54px;
	border-right:1px solid #dfdfdf;
	padding-left:10px;
	padding-right:12px;
	font-size: 13px;
	color:#8c8c8c;
}
header .w .login a:nth-child(2){
	border:0;
}
header .w .login p{
	display: block;
	position: absolute;
	width:174px;
	height:34px;
	background-image: url(../images/index/add_r_tips.png);
	padding-left:15px;
	padding-right:25px;
	color:#fff;
	font-family: "ËÎÌå";
	font-size:12px;
	position:relative;
}
header .w .login p>span{
	display: block;
	width:12px;
	height:12px;
	position:absolute;
	top:1px;
	right:5px;
	font-weight: bold;
	color:#eee;
	cursor:pointer;
}
header .w .r{
	height:37px;
	line-height:37px;
	position:relative;
}
header .w .r ul{
	height:37px;
}
header .w .r ul li{
	height:37px;
}
header .w .r ul .tel span{
	display:block;
	margin-top:10px;
	height:17px;
	padding:0 10px;
	border-right:1px solid #dfdfdf;
	line-height:17px;
}
header .w .r ul .tel span::before{
	content:"";
	display:inline-block;
	width:14px;
	height:13px;
	background:url(../images/index/icon_list.png) no-repeat 0px -38px;
	padding-left:10px;
}
header .w .r ul li>a{
	padding:0 10px;
	border-right:1px solid #dfdfdf;
	font-family:"宋体"
}
header .w .r ul li>a:hover{
	text-decoration:underline;
}
header .w .r ul li:last-child a{
	border:0;
}
header .w .r ul .business_li img{
	display: inline-block;
}
header .w .r ul .business_li{
	position:relative;
	z-index:10px;
}
header .w .r .business_box{
	width:155px;
	height:105px;
	border:1px solid #dfdfdf;
	background:#fff;
	padding-left:4px;
	position:absolute;
	top:0px;
	left:5px;
}
header .w .r .business_box a{
	display:block;
	height:35px;
	line-height:35px;
	font-family:"宋体"
}
header .w .r .business_box a:hover{
	text-decoration:underline;
}
header .w .r .business_box img{
	display: inline-block;
	line-height:50px
}
header .w .r .business_box span{
	display:inline-block;
	background:url(../images/index/icon_list.png) no-repeat -39px -764px;
	color:#fff;
	height:17px;
	line-height:15px;
	width:83px;
	font-family: "宋体";
	padding:0 3px;
}

header .w .r .down_load{
	position:relative;
}
header .w .r .icon_top{
	position:absolute;
}
header .w .r .icon_top .icon_border{
	border:1px solid #f6f6f6;
	padding:5px;
	margin-top:5px;
	position:absolute;
	top:0;
	left:0px;
	z-index:10;
	box-shadow: 0 0 1px #f6f6f6;
	background:#fff;
}
header .w .r .icon_top span{
	position:absolute;
	width:12px;
	height:8px;
	background:url(../images/index/icon_list.png) no-repeat -234px -592px;
	top:-8px;
	left:62px;
}
header .w .r .icon_top p{
	height:12px;
	line-height:12px;
	text-align:center;
	color:#3b3b3b;
}
header .w .r .icon_top img{
	border:0;
}
header .w .last{
	position:relative;
}
header .w .r .serve_box{
	width:76px;
	height:100px;
	border:1px solid #dfdfdf;
	background:#fff;
	padding-left:5px;
	position:absolute;
	top:0px;
	left:4px;
	z-index:10;
	font-family:"宋体"
}
header .w .r .serve_box a:hover{
	text-decoration:underline;
}
/*=============search=============*/
#search{
	height:125px;
	background:#fff;
}
#search .w{
	height:125px;
}
#search .w h1{
	margin-top:30px;
	margin-right:7px;
}
#search .w h1 img{
	width:59px;
	height:55px;
}
#search .w .icon{
	line-height:125px;
}
#search .w i{
	color:#94193f;
	font-size: 26px;
	margin-right:7px;
}
#search .w p{
	font-size: 14px;
	margin-right:7px;
}
#search .w .center{
	margin-top: 35px;
	width:361px;
}
#search .w .text{
	border:3px solid #94193f;
	width:298px;
	border-right:0;
	height:13px;
	padding:11px 0px 11px 7px;
	color:#757575;
}
#search .w .text input{
	color:#757575;
}
#search .w .center .find{
	background:#94193f;
	width:53px;
	height:41px;
	color:#fff;
	font-size:18px;
	text-align: center;
	line-height: 41px;
}
#search .w .center ul{
	height:34px;
	line-height:34px;
}
#search .w .center ul li{
	margin-right:5px;
	color:#8c8c8c;
}
#search .w .center ul li a{
	color:#8c8c8c;
	font-family: "宋体";
}
#search .w .center ul li a:hover{
	color:#94193f;
}
#search .w .cart{
	width:103px;
	height:39px;
	border:1px solid #d8d8d8;
	margin-left:10px;
	margin-top:35px;
	line-height: 39px;
	padding-left:7px;
	background:#f9f9f9;
	position:relative;
}
#search .w .cart::before{
	content:"";
	display:inline-block;
	width:16px;
	height:13px;
	background:url(../images/index/icon_list.png) no-repeat -186px -736px;
	margin-right:7px;
}
#search .w .cart span{
	display:block;
	width:16px;
	height:16px;
	background:#94193f;
	border-radius: 50%;
	position:absolute;
	top:-7px;
	right:15px;
	line-height: 16px;
	color:#fff;
	text-align: center;
}
/*=============nav=============*/
#nav{
	height:39px;
	border-bottom:2px solid #94193f;
	background:#fff;
}
#nav .w{
	height:39px;
}
#nav .w .all{
	width:215px;
	height:39px;
	background:#94193f;
	text-align: center;
	line-height: 39px;
	z-index:300;
}
#nav .w .all>a{
	color:#fff;
	font-size:18px;
	z-index:300;
}
#nav .w .all .secondmenu{
	width:215px;
	height:380px;
	display:none;
}
#nav .w .all:hover .secondmenu{
	display:block;
}
#nav .w .all .secondmenu>li{
	height:54px;
	line-height: 54px;
	font-size: 14px;
	position:relative;
	z-index: 300;
	background:rgba(238,238,238,.9);
}
#nav .w .all .secondmenu>li:first-child{
	padding-top:2px;

}
#nav .w .all .secondmenu>li span{
	display:inline-block;
	width:18px;
	height:18px;
	background:url(../images/index/type_icon.png) no-repeat;
	margin-right:10px;
}
#nav .w .all .secondmenu>li.one span{
	background-position:0px -417px;
}
#nav .w .all .secondmenu>li.two span{
	background-position:0px -125px;
}
#nav .w .all .secondmenu>li.three span{
	background-position:0px -164px;
}
#nav .w .all .secondmenu>li.four span{
	background-position:0px -207px;
}
#nav .w .all .secondmenu>li.five span{
	background-position:0px -250px;
}
#nav .w .all .secondmenu>li.six span{
	background-position:0px -332px;
}
#nav .w .all .secondmenu>li.seven span{
	background-position:0px -375px;
}
#nav .w .all .secondmenu>li.one:hover span{
	background-position:-79px -417px;
}
#nav .w .all .secondmenu>li.two:hover span{
	background-position:-80px -125px;
}
#nav .w .all .secondmenu>li.three:hover span{
	background-position:-80px -164px;
}
#nav .w .all .secondmenu>li.four:hover span{
	background-position:-80px -207px;
}
#nav .w .all .secondmenu>li.five:hover span{
	background-position:-80px -250px;
}
#nav .w .all .secondmenu>li.six:hover span{
	background-position:-80px -332px;
}
#nav .w .all .secondmenu>li.seven:hover span{
	background-position:-80px -375px;
}
#nav .w .all .secondmenu .thirdmenu{
	position:absolute;
	top:0;
	left:215px;
	width:387px;
	background:#fff;
	z-index:300;
	display:none;
}
#nav .w .all .secondmenu .thirdmenu li{
	float:left;
}
#nav .w>ul{
	height:41px;
	line-height: 41px;
}
#nav .w>ul>li{
	padding-left:60px;
	font-size:16px;
}

#nav .w>ul>li:first-child a{
	color:#94193f;
	font-weight: 900;
}
#nav .w>ul>li a:hover{
	color:#94193f;
}
/*=============detail_nav=============*/
#detail_nav{
	height:57px;
}
#detail_nav .w{
	height:57px;
}
#detail_nav .w li{
	padding:0 8px;
	height:57px;
	line-height:57px;
	font-size:14px;
}
/*=============detail_nav=============*/
#detail_topshow{
	overflow:hidden;
}
#detail_topshow .left_img{
	margin-right:29px;
}
#detail_topshow .showimg{
	width:380px;
	height:380px;
	border:1px solid #e4e4e4;
	position:relative;
}
#detail_topshow .showimg img{
	position:absolute;
	top:0;
	left:0;
	width:380px;
	height:380px;
}
#detail_topshow .bigbox_show{
	position:absolute;
	left:400px;
	top:0px;
	width:380px;
	height:380px;
	border:1px solid #e4e4e4;
	overflow:hidden;
}
#detail_topshow .bigbox_show img{
	position:absolute;
	top:0;
	left:0;
	width:800px;
	height:800px;
}
#detail_topshow .bigbox_show .morebig{
	z-index:10;
}
#detail_topshow .listimg{
	width:382px;
	height:60px;
	margin-top:17px;
}
#detail_topshow .listimg li{
	height:60px;
	padding-right:9px;
}
#detail_topshow .btn_before a,#detail_topshow .btn_after a{
	display:block;
	width:15px;
	height:25px; 
	background-image:url(../images/detail/detail_icon_list.png);
	margin-top:17px;
}
#detail_topshow .btn_before a{
	background-position:0px -373px;
}
#detail_topshow .btn_after a{
	background-position:-20px -373px;
}
#detail_topshow .listimg .btn_after{
	padding-right:0;
}
#detail_topshow .listimg img{
	width:60px;
	height:60px;
	border:1px solid #e4e4e4;
	box-sizing:border-box;
	cursor:pointer;
}
#detail_topshow .listimg .smallimg{
	border:2px solid #c41f3a;
	box-sizing:border-box;
}
#detail_topshow .left_img p{
	margin-top:26px;
	color:#999;
}
#detail_topshow .left_img p a{
	margin-left:23px;
	color:#999;
}
#detail_topshow .left_img p a::before{
	content:"";
	display:inline-block;
	width:17px;
	height:16px;
	background:url(../images/detail/detail_icon_list.png) no-repeat -30px -309px;
}
#detail_topshow .right{
	width:560px;
	padding-top:10px;
}
#detail_topshow .right .one{
	height:40px;
	line-height:20px;
	font-size:18px;
	width:550px;
}
#detail_topshow .right .two{
	height:40px;
	line-height:45px;
	color:#c41f3a;
	font-size:14px;
}
#detail_topshow .right .three{
	height:73px;
	background:#fefafb;
	border-bottom:1px dashed #f0dde1;
	line-height:73px;
	padding-left:10px;
	font-size:14px;
}
#detail_topshow .three span{
	color:#c41f3a;
	margin-left:13px
}
#detail_topshow .three b{
	color:#c41f3a;
	font-size:30px;
	margin-right:13px;
}
#detail_topshow .three del{
	color:#999;
}
#detail_topshow .four{
	color:#94193f;
	font-size:14px;
	padding-left:10px;
}
#detail_topshow .four span{
	display:inline-block;
	width:41px;
	height:19px;
	background:url(../images/detail/detail_icon_list.png) no-repeat 0px 0px;
	color:#fff;
	line-height:19px;
	text-align:center;
	font-size:12px;
}
#detail_topshow .five{
	height:52px;
	line-height:58px;
	padding-left:10px;
	font-size:14px;
	border-bottom:1px dashed #dcdcdc;
}
#detail_topshow .five span{
	color:#333;
	margin-left:28px;
}
#detail_topshow .six,#detail_topshow .seven,#detail_topshow .eight{
	height:52px;
	line-height:58px;
	font-size:14px;
	padding-left:10px;
}
#detail_topshow .six span,#detail_topshow .seven span{
	display:inline-block;
	width:54px;
	height:28px;
	border:2px solid #c41f3a;
	font-size:12px;
	line-height:28px;
	text-align:center;
	margin-left:28px;
	background:url(../images/detail/detail_icon_list.png) no-repeat -45px 13px;
}
#detail_topshow .eight span{
	margin-right:28px;
}
#detail_topshow .eight input{
	width:60px;
	height:32px;
	border:1px solid #ccc;
	text-align:center;
	line-height:32px;
	margin-top:10px;
}
#detail_topshow .eight a{
	width:32px;
	height:32px;
	border:1px solid #e5e5e5;
	text-align:center;
	line-height:32px;
	margin-top:10px;
}
#detail_topshow .nine{
	height:40px;
	position:relative;
	margin-top:22px;
}
#detail_topshow .nine a{
	position:absolute;
	width:136px;
	height:36px;
	border:2px solid #b51748;
	line-height:36px;
	text-align:center;
	font-size:16px;
}
#detail_topshow .nine a:first-child{
	top:0px;
	left:0px;
	background-color:#b51748;
	color:#fff;
}
#detail_topshow .nine a:last-child{
	top:0px;
	left:153px;
	color:#b51748;
}
#detail_topshow .ten,#detail_topshow .last{
	height:22px;
	line-height:22px;
	font-size:14px;
}
/*=============goods_details=============*/
#goods_details{
	overflow:hidden;
	margin-top:54px;
}
#goods_details .left_list{
	width:196px;
	border:1px solid #e4e4e4;
	overflow:hidden;
}
#goods_details .left_list p{
	height:45px;
	border-bottom:1px solid #e4e4e4;
	background:#f6f6f6;
	line-height:45px;
	text-align:center;
	font-size:16px;
	color:#333;
}
#goods_details .left_list dt img{
	width:196px;
	height:196px;
}
#goods_details .left_list dd{
	padding-left:20px;
	padding-right:34px;
}
#goods_details .left_list dd a{
	display:block;
	height:40px;
	line-height:20px;
}
#goods_details .left_list .d_price{
	height:30px;
	line-height:30px;
	padding-bottom:20px;
	border-bottom:1px solid #e4e4e4;
	color:#b51748;
}
#goods_details .d_price b{
	font-size:18px;
}
#goods_details .d_price del{
	margin-left:9px;
	color:#969696;
}
#goods_details .right_details{
	width:968px;
	overflow:hidden;
	border:1px solid #e4e4e4;
}
#goods_details .nav_box{
	height:48px;
}
#goods_details .details_nav{
	height:48px;
	background:#f6f6f6;
	width:100%;
	line-height:48px;
	color:#333;
	border-bottom:1px solid #e4e4e4;
}
#goods_details .details_nav li{
	padding:0 25px;
	border-right:1px solid #e4e4e4;
	font-size:14px;
	cursor:pointer;
}
#goods_details .spcs{
	margin-top:62px;
	height:262px;
}
#goods_details h3{
	border-bottom:1px solid #e4e4e4;
	height:35px;
}
#goods_details h3 span{
	display:block;
	height:35px;
	width:110px;
	background-color:#333;
	color:#fff;
	line-height:35px;
	text-align:center;
	font-size:18px;
	font-weight:100;
}
#goods_details .spxq img{
	margin-left:112px;
}
#goods_details .spxq .imgone{
	margin-top:35px;
}
#goods_details .psysh img{
	width:50%;
	float:left;
	margin-bottom:30px;
}
/*=============footer_icon=============*/
#footer_icon{
	height:139px;
	margin-top:25px;
	color:#999;
	background:#fff;
}
#footer_icon .w{
	height:139px;
}
#footer_icon .w img{
	width:100%;
	height:138px;
	border-bottom:1px solid #d7d7d7;

}

/*=============footer_nav=============*/
#footer_nav{
	height:277px;
	background:#fff;
}
#footer_nav .w{
	height:208px;
	padding-top:30px;
	padding-left:40px;
	width:960px;
}
#footer_nav .w ul{
	width:144px;
}
#footer_nav .w ul li{
	line-height:23px;
}
#footer_nav .w ul .list_h3{
	height:40px;
	line-height:40px;
	font-size:14px;
}
#footer_nav .w .go_app{
	margin-right:23px;
}
#footer_nav .w .p1{
	height:40px;
	line-height:40px;
	color:#000;
	font-weight:bold;
	font-size:14px;
}
#footer_nav .w .p2{
	font-size:14px;
}
#footer_nav .bottom_nav{
	height:35px;
	border-bottom:4px solid #a90202;
	background:#fff;
}
#footer_nav .bottom_nav ul{
	height:35px;
	text-align:center;
	line-height:35px;
}
#footer_nav .bottom_nav li{
	display:inline-block;
	height:35px;
}
#footer_nav .bottom_nav li a{
	padding:0 20px;
	border-right:1px solid #a9a9a9;
	font-family:"宋体";
}
#footer_nav .bottom_nav li:last-child a{
	border-right:0;
}


/*=============bottom底部=============*/
footer{
	height:173px;
	padding-top:9px;
	text-align:center;
	background-image:url(../images/active/newindex_footer_bg.png);
}
footer p{
	height:25px;
	line-height:25px;
	color:#ccc;
}
footer a{
	display:inline-block;
	width:275px;
	margin-right:80px;
	margin-top:35px;
}

/*=============aside侧边栏=============*/
#aside{
	height:100%;
	width:40px;
	background:#444851;
	position:fixed;
	right:0;
	top:0;
	z-index:300;
}
#aside .Identify{
	height:51px;
	margin-top:83px;
	position:relative;
	padding-top:4px;
	margin-bottom:20px
}
#aside .Identify .bgimg{
	margin:0 12px;
	width:16px;
	height:22px;
	background:url(../images/index/icon_list.png) no-repeat -202px -413px;
}
#aside .Identify .zhanghao{
	display:block;
	color:#fff;
	height:26px;
	line-height:17px;
	text-align:center;
}

#aside  .text_enroll{
	position:absolute;
	right:40px;
	top:-10px;
	width:250px;
	height:320px;
	background-color:#fff;
	border:1px solid #dfdfdf;
	border-right:0;
	padding:0px 20px;
}
#aside .text_enroll p{
	color:#94193f;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
}
#text_id,#text_psw{
	width:232px;
	height:20px;
	border:1px solid #dfdfdf;
	padding:10px 5px;
	color:#999;
}
#V-code{
	width:111px;
	height:20px;
	border:1px solid #dfdfdf;
	padding:10px 5px;
	color:#999;
}
#aside .text_enroll span{
	cursor:pointer;
	color:#94193f;
	margin-left:50px;
}
#aside .cart_aside{
	height:130px;
	border-top:1px solid #2d2e32;
	border-bottom:1px solid #2d2e32;
	padding:5px 0px;
}
#in_btn{
	width:242px;
	height:40px;
	background-color:#94193f;
	color:#fff;
	line-height:40px;
	text-align:center;
	font-weight:bold;
}
#aside .text_enroll a:last-child{
	color:#94193f;
}

#aside .cart_aside a::before{
	content:"";
	display:block;
	background:url(../images/index/icon_list.png) no-repeat -85px 0;
	width:21px;
	height:21px;
}
#aside .cart_aside a{
	display:block;
	color:#fff;
	text-align:center;
	margin-top:17px;
	height:96px;
	padding:2px 9px 0px 9px;
	text-align:center;
}
#aside .cart_aside a:hover{
	background:#94193f;
}

#aside .cart_aside span{
	display:block;
	width:22px;
	height:22px;
	border-radius:50%;
	background-color:#94193f;
	line-height:20px;
	margin-top:3px;
}
#aside .collect{
	height:83px;
	border-top:1px solid #575a62;
	padding-top:17px;
}
#aside .collect a{
	display:block;
	color:#fff;
	text-align:center;
	height:42px;
	padding:9px 0;
	text-align:center;
}
#aside .collect a:hover{
	background:#94193f;
}
#aside .collect a::before{
	content:"";
	display:block;
	background:url(../images/index/icon_list.png) no-repeat -83px -188px;
	width:22px;
	height:22px;
	margin-left:10px;
}
#aside .QRcode_aside{
	margin-top:80px;
	height:20px;
	width:20px;
	padding:10px;
	position:relative;
}
#aside .bgcode{
	background:url(../images/index/icon_list.png) no-repeat -170px 0px;
	height:20px;
	width:20px;
}
#aside .bigcode{
	position:absolute;
	right:38px;
	top:-200px;
	display:inline-block;
}
#aside .Service_aside{
	margin-top:25px;
	height:30px;
	width:22px;
	padding:5px 9px;
	position:relative;
}
#aside .bgService{
	background:url(../images/index/icon_list.png) no-repeat -171px -59px;
	height:25px;
	width:21px;
}
#aside .aside_nav{
	position:absolute;
	right:40px;
	top:-273px;
	width:242px;
	height:300px;
	border:1px solid #dfdfdf;
	border-right:0;
	background:#fff;
}
#aside .service_nav p{
	height:30px;
	line-height:30px;
	text-align:center;
}
#aside .service_nav div{
	line-height:33px;
	background:#eee;
}
#aside .service_nav .a1{
	height:99px;
}
#aside .service_nav a{
	display:block;
	float:left;
	height:33px;
	padding-left:40px;
}
#aside .service_nav .a2{
	height:66px;

}
#aside .service_nav .a3{
	height:33px;
}
#aside .return_top{
	height:57px;
	margin-top:25px;
	width:19px;
	padding:0 10px;
	cursor:pointer;
}
#aside .return_top p{
	background:url(../images/index/icon_list.png) no-repeat -85px -253px ;
	height:20px;
	text-align:center;
	margin-left:4px;
}
#aside .return_top span{
	display:block;
	color:#fff;
	text-align:center;

}

