@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*=============search=============*/
#search{
	height:125px;
	background:#fff;
}
#search .w{
	height:125px;
}
#search .w h1{
	margin-top:30px;
	margin-right:7px;
}
#search .w h1 img{
	width:59px;
	height:55px;
}
#search .w .icon{
	line-height:125px;
}
#search .w i{
	color:#94193f;
	font-size: 26px;
	margin-right:7px;
}
#search .w p{
	font-size: 14px;
	margin-right:7px;
}
#search .w .center{
	margin-top: 35px;
	width:361px;
}
#search .w .text{
	border:3px solid #94193f;
	width:298px;
	border-right:0;
	height:13px;
	padding:11px 0px 11px 7px;
	color:#757575;
}
#search .w .text input{
	color:#757575;
}
#search .w .center .find{
	background:#94193f;
	width:53px;
	height:41px;
	color:#fff;
	font-size:18px;
	text-align: center;
	line-height: 41px;
}
#search .w .center ul{
	height:34px;
	line-height:34px;
}
#search .w .center ul li{
	margin-right:5px;
	color:#8c8c8c;
}
#search .w .center ul li a{
	color:#8c8c8c;
	font-family: "宋体";
}
#search .w .center ul li a:hover{
	color:#94193f;
}
#search .w .cart{
	width:103px;
	height:39px;
	border:1px solid #d8d8d8;
	margin-left:10px;
	margin-top:35px;
	line-height: 39px;
	padding-left:7px;
	background:#f9f9f9;
	position:relative;
}
#search .w .cart::before{
	content:"";
	display:inline-block;
	width:16px;
	height:13px;
	background:url(../images/index/icon_list.png) no-repeat -186px -736px;
	margin-right:7px;
}
#search .w .cart span{
	display:block;
	width:16px;
	height:16px;
	background:#94193f;
	border-radius: 50%;
	position:absolute;
	top:-7px;
	right:15px;
	line-height: 16px;
	color:#fff;
	text-align: center;
}

#center{
	height:616px;
	background-color:#fff;
}
#center .w{
	height:616px;
}
#center .w .imgbox{
	width:559px;
	height:363px;
	padding-top:40px;
	padding-left:33px;
	padding-right:22px;
}
#center .imgbox img{
	width:558px;
	height:360px;
}

#center .formbox{
	width:301px;
	padding:0 29px;
  	box-shadow: -2px 0 5px #ccc,2px 0 5px #ccc;
}

#center .form_h2{
	height:90px;
	line-height:80px;
	color:#c41f3a;
	font-size:22px;
	font-weight:bold;
}
#center span{
	color:#333;
	font-size:12px;
	font-weight:100;
	float:right;
}
#center span a{
	color:#c41f3a;
}
#center form .longinput{
	width:275px;
	height:27px;
	border:1px solid #c8c8c8;
	padding:6px 12px;
}
#center form .shortinput{
	width:139px;
	height:27px;
	padding:6px 12px;
	border:1px solid #c8c8c8;
}
#btnMsg{
	width:119px;
	height:40px;
	border:1px solid #c8c8c8;
	background:#eee;
	margin-left:13px;
}
#center form span{
	cursor:pointer;
	color:#94193f;
	margin-left:50px;
	line-height:41px;
}
#enter{
	width:301px;
	height:41px;
	background:#c41f3a;
	color:#fff;
	line-height:41px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
#center form .checkbox{
	height:33px;
	line-height:33px;
}
#center form .checkbox a{
	color:#94193f;
}
#center form .testcon{
	height:20px;
	line-height:20px;
	color:#999;
}
/*=============bottom底部=============*/
footer{
	height:173px;
	padding-top:9px;
	text-align:center;
	background-color:#fff;
}
footer p{
	height:25px;
	line-height:25px;
}
footer a{
	display:inline-block;
	width:275px;
	margin-right:80px;
	margin-top:35px;
}


